:root {
	/* COLORS */
	/* Primary */
	--color-primary: #fb7413;

	/* Neutral */
	--color-white: #ffffff;
	--color-light: #959eac;
	--color-medium: #7c8798;
	--color-dark: #252d37;
	--color-very-dark: rgb(18, 20, 23);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Overpass', sans-serif;
	font-size: 1.5rem;
	background-color: var(--color-very-dark);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	padding: 0 2.4rem;
}

.card {
	width: 100%;
	max-width: 41.2rem;
	background: radial-gradient(var(--color-very-dark), var(--color-dark));
	border-radius: 2em;
	padding: 1.6em 1.6em 2.1333em;
}

.card.thank-you {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2.6em;
}

.summary {
	font-size: 1.4rem;
	line-height: 1.5714;
	color: var(--color-primary);
	background-color: var(--color-dark);
	padding: 0.5rem 1.2rem;
	border-radius: 1.6071em;
	margin-bottom: 1.7142em;
}

.content.thank-you {
	text-align: center;
	margin-bottom: 0;
}

.logo-container {
	width: 4rem;
	height: 4rem;
	background-color: var(--color-dark);
	border-radius: 50%;
	padding: 0.8666em;

	margin-bottom: 1.0666em;
}

.logo {
	width: 1.4rem;
	height: 1.4rem;
}

.thank-you > .logo-container {
	background-color: transparent;
	width: 14.4rem;
	height: 9.6rem;
	padding: 0;
	margin-bottom: 1.6em;
}
.thank-you > .logo-container > .logo {
	width: 100%;
	height: 100%;
}

.title {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 1.2658;
	color: var(--color-white);
	margin-bottom: 0.7083em;
}
.card.thank-you > .title {
	margin-bottom: 0.4166em;
}

.content {
	font-size: 1.4rem;
	color: var(--color-light);
	line-height: 1.5714;
	margin-bottom: 1.7142em;
}

.ratings {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.6em;
}

.rating,
.active {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	cursor: pointer;
}

.rating {
	color: var(--color-medium);
	background-color: var(--color-dark);
	transition: all 0.3s;
}

.active {
	color: var(--color-white);
	background-color: var(--color-light);
}

.btn {
	border: none;
	border-radius: 1.6071em;
	width: 100%;
	height: 4.5rem;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 1.87px;
	text-transform: uppercase;
	color: var(--color-white);
	background-color: var(--color-primary);
	transition: all 0.3s;

	cursor: pointer;
}

.btn:hover,
.rating:hover {
	color: var(--color-primary);
	background-color: var(--color-white);
}

@media (min-width: 48em) {
	.card {
		padding: 2.1333em 2.6666em 2.1333em 2.1333em;
	}

	.card.thank-you {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 3em;
		padding-bottom: 3em;
	}

	.logo-container {
		width: 4.8rem;
		height: 4.8rem;
		padding: 1.067em;
		margin-bottom: 2em;
	}

	.logo {
		width: 1.6rem;
		height: 1.6rem;
	}

	.title {
		font-size: 2.8rem;
		line-height: 1.266;
		margin-bottom: 0.5357em;
	}

	.content {
		font-size: 1.5rem;

		line-height: 1.6;
		margin-bottom: 1.6em;
	}

	.ratings {
		margin-bottom: 2em;
	}

	.rating,
	.active {
		font-size: 1.6rem;
		width: 4.8rem;
		height: 4.8rem;
	}

	.thank-you > .logo-container {
		width: 16.2rem;
		height: 10.8rem;

		margin-bottom: 2.1333em;
	}

	.card.thank-you > .title {
		margin-bottom: 0.5357em;
	}

	.summary {
		font-size: 1.5rem;
		line-height: 1.6;
		padding: 0.25em 1.3333em 0.25em;
		margin-bottom: 2.4em;
	}
}
